* {
    margin: 0;
}

h1, h4 {
    font-weight: bold;
    text-align: center;
}

#todo-input {
    text-align: center;
    margin-top: 20px;
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.todo, .completed-todo {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    border-radius: 15px 50px;
    padding: 20px;
    display: flex;
    vertical-align: middle;
    text-align: center;
}

.todo {
    background-color: #321637;
}

.completed-todo {
    background-color: #006400;
}

.completed-todo .task {
    width: 100%;
}

.todo .task {
    width: 90%;
}

.todo .checkbox {
    width: 10%;
    display: inline;
    vertical-align: middle;
}

.task-title {
    font-size: 20px;
}

.task-description {
    font-size: 16px;
}

